@page "/"
@page "/home"

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">A Bag Of Old Code</h2>
            <div class="intro">Semi-random thoughts of an ancient developer</div>
        </div>
    </section>
    <PrecisView />
</div>
