@page "/resume"
<div class="main-wrapper">
    <section class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                &nbsp;<br/>
                <h2>Résumé</h2>
                <p>For obvious reasons, I don't keep my contact details in plain sight on the open internet but you are absolutely welcome to contact me through LinkedIn or Twitter.
                You'll also note that this isn't a complete curriculum vitae. I'm presuming you have no interest in my backgrounds of RF engineering, agriculture, welding, gravedigging and cheffing. And this CV only goes back 5 years - if you need the other 20 years, let me know.</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Rich Bryant</h4>
                        <p><em>Developer, Analyst and Architect specializing in high-volume transactions, system resilience, service brokers and optimzation for cloud platforms</em></p>
                        <p>
                            <ul>
                                <li>.NET Core</li>
                                <li>Azure & AWS</li>
                                <li>Cryptography &amp; Secure Protocols</li>
                                <li>Functional Programming with C# and F#</li>
                                <li>Continuous Integration/Delivery pipelines</li>
                                <li>Unit, Integration, End-to-End and Penetration testing</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>BSc (Hons) Mathematics and Statistics</h4>
                        <h5>1989 - 1993</h5>
                        <p><em>Open University</em></p>
                    </div>
                    
                    <h3 class="resume-title">OSS Contributions</h3>
                    <div class="resume-item">
                        <h4>Blazor</h4>
                        <h5><a href="https://github.com/dotnet/aspnetcore">https://github.com/dotnet/aspnetcore</a></h5>
                        <p><em>Front-End C# Framework</em></p>
                    </div>
                    
                    <div class="resume-item">
                        <h4>ReactiveUI</h4>
                        <h5><a href="https://github.com/reactiveui">https://github.com/reactiveui</a></h5>
                        <p><em>Cross-platorm MVVM Framework</em></p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Senior Developer/Architect</h4>
                        <h5>7/2020 - 4/2021</h5>
                        <p><em>Avask Ltd</em></p>
                        <p>
                            Blazor Server, Blazor WASM, AspNet Core, Azure Tables, CosmosDb, Azure B2C, OAUTH, Azure AD, Windows Virtual Desktop, Github Codespaces, Xunit, BUnit, System.Reactive, Functional Programming.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Senior Developer</h4>
                        <h5>2019 - 2020</h5>
                        <p><em>Practicon Ltd</em></p>
                        <p>
                            Senior Developer working on production line automation systems.  C#, WPF, ReactiveUI, Rx.NET, OPC programming, Kepware, SQL Server, Functional C#.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Senior Developer</h4>
                        <h5>2018 - 2019</h5>
                        <p><em>Novia Financial</em></p>
                        <p>
                            Developer working on value measurements for asset brokers.  C#, vue.js, XUnit, TSQL, XML, XSLT, Office 365, Sharepoint, Dynamics.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Senior Developer</h4>
                        <h5>2017 - 2018</h5>
                        <p><em>Reassure</em></p>
                        <p>
                            Angular 4 and 5 development with C# MVC WebAPI middle tier to Oracle databases.  TFS/VSTS, Git, Node.js, WebPack, Visual Studio Code.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Senior Developer/Architect</h4>
                        <h5>2016 - 2017</h5>
                        <p><em>J Sainsbury Plc</em></p>
                        <p>
                            C#, Angular, TSQL, PowerBi via PowerAPI, Amazon Web Services, Azure, Azure AD, MSMQ, SQS, ALM, Code Quality, running Unit Testing courses on C#, Javascript, Typescript and TSQL.
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Senior Developer-in-test</h4>
                        <h5>2014 - 2016</h5>
                        <p><em>Optimal Engineering Ltd</em></p>
                        <p>
                            Factoring in unit testing on a project in ongoing development based on WCF, WPF and SQL Server with links to USB-based pharmaceutical manufacturing monitoring equipment. C#, NHibernate, MS Test, NSubstitute, Autofixture, Prism, Unity, Coded UI tests, SQL Server, Team Foundation Server.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>